* {
  margin: 0;
  padding: 0;
}

/* Starting Video */
video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ভিডিও পুরো স্ক্রিনে ফিট করবে */
  z-index: 50;
  pointer-events: none;
}

#startVideo {
  max-width: 1080px;
  max-height: 2400px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  pointer-events: none;
}

.hidden {
  display: none;
}
/* শুধুমাত্র Galaxy A55 এর জন্য fixed frame */
main {
  margin: 0 auto; /* center align */
  position: relative;
  overflow: hidden;
}

/* Starting Video */
#startVideo {
  width: 100%;
  height: 100%;
  max-width: 1080px;
  max-height: 2400px;
  object-fit: cover; /* স্ক্রিনে ফিট করাবে */
  display: block;
  margin: 0 auto;
  pointer-events: none;
}
#demo_img {
  width: 100%;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.uploadable {
  width: 100%;
  height: auto; /* ছবির আসল aspect ratio থাকবে */
  object-fit: cover; /* viewport এ সুন্দরভাবে ফিট হবে */
  display: block; /* extra gap রোধ করার জন্য */
}
